.feature {
  background-color: $LightGrayishBlue;
  &__text {
    h2 {
      font-weight: 300;
      font-size: size(25);
      line-height: 1.15;
      color: $DarkBlue;
      margin-bottom: size(24);
    } 
    p {
      line-height: 1.5;
      margin-bottom: size(36);
    }
  }
  &__grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint-down(small) {
      flex-direction: column;
    }
  }
  &__item {
    width: 25%;
    @include breakpoint-down(small) {
      width: 100%;
      text-align: center;
    }
  }
  &__icon {
      margin-bottom: size(24);
  }
  &__title {
      font-weight: 300;
      color: $DarkBlue;
      font-size: size(18);
      line-height: 1.15;
      margin-bottom: size(20);
  }
  &__description {
    margin-right: size(18);
    @include breakpoint-down(small) {
      &:not(last-child) {
        margin-bottom: size(22);
      }
    }
  }
}