.header{
  nav{
    padding: 24px;
  }

  &__logo{
    img{
      width: size(141);    // 141px
      height: size(22);    // 22px
    }
  }

  &__menu{
    >span{
      display: block;
      width: 26px;
      height: 2px;
      background-color: $DarkBlue;
      //apply to first two spans
      &:not(:last-child){
        margin-bottom: 3px;
      }
    }
  }

  &__links{
    a{
      font-size: $font-sm;
      color: $GrayishBlue;
      &:not(:last-child){
        margin-right: size(32);
      }
    }
  }

  &__cta{
      font-size: $font-sm;
      color: $White;
  }
}