.header{
  //open header styles
  &.open{
    .header__menu{
      >span:first-child{
        transform: rotate(45deg);
      }
      >span:nth-child(2){
        opacity: 0;
      }
      >span:last-child{
        transform: rotate(-45deg);
      }
    }
  }

  nav{
    padding: size(17) size(24);
  }

  &__logo{
    img{
      width: size(141);    // 141px
      height: size(22);    // 22px
    }
  }

  &__menu{
    >span{
      display: block;
      width: 26px;
      height: 2px;
      background-color: $DarkBlue;
      transform-origin: 3px 1px;
      transition: all 300ms ease-in-out;
      //apply to first two spans
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }

  &__links{
    a{
      font-size: $font-sm;
      color: $GrayishBlue;
      position: relative;
      transition: color 200ms ease-in-out;

      &:not(:last-child){
        margin-right: size(32);
      }

      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -30px;
        left: 0;
        background: linear-gradient(to right, $LimeGreen, $BrightCyan);
        // since background can not be changed using transition property
        // we can use opacity to achieve that
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }

      &:hover{
        color: $DarkBlue;

        &::after{
          opacity: 1;
        }
      }
    }
  }

  &__cta{
      font-size: $font-sm;
      color: $White;
      transition: opacity 200ms ease-in-out;
      &:hover{
        opacity: 0.75;
      }
  }
}