.hero {
//   display: flex;
//   align-items: center;       
//   margin: 0 size(24);

  &__image {
    // adding multiple images at same place
    background-image: url(../../images/image-mockups.png), url(../../images/bg-intro-desktop.svg);
    // using different size for different image
    background-size: 93%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center center;
    // only after adding height, would the background-image be added
    min-height: size(280);
  }
  &__text {
      text-align: center;
    h1 {
      font-weight: 300;
      font-size: size(37);
      line-height: 1.15;
      color: $DarkBlue;
      margin-bottom: size(24);
    } 
    p {
      line-height: 1.5;
      margin-bottom: size(36);
    }
  }
}